.header{
    display: flex;
    justify-content: center;
    width: 100%;
    ul{
        display: flex;
        justify-content: space-between;
        width: 40%;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #333333;

            }
        }
    }
}